body {
    font-family: Helvetica, arial;
    margin: 0;
    padding: 50px;
    background: #012;
    color: #bcd;
}
a{ color : #bcd;}

#container {
   font-size: 18px;
}

li {
    list-style-type: none;
    float: left;
    margin: 10px;
    
}

.node {
   position: absolute;
   padding: 3px;
   -webkit-border-radius: 3px;
   border: 3px solid #456;
   background: #456; 
}